<div class="container">
  <div class="row">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center mt-2">
        <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
          <a (click)="currentPage = currentPage - 1" class="page-link">Previous</a>
        </li>
        <ng-container *appTimes="pages.length; let i = index">
        <li 
          class="page-item" 
          [appClass]="{ active: i === currentPage }"
          *ngIf="checkWindowIndex(i)"
        >
          <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
        </li></ng-container>
        <li class="page-item" [appClass]="{ disabled: currentPage === pages.length -1 }">
          <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1>{{ pages[currentPage].title}}</h1>
    <img src="{{ pages[currentPage].url }}" />
  </div>
</div>
